<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseFleetOnlineURL" value ="http://localhost:8080/fleetonline/"/>
    <add key="baseFleetOnlineURL_Fancy" value="http://localhost:8080/fleetonline/"/>

    
    <add key="baseFleetOnlineURL_Jurriaan" value="http://localhost:8080/fleetonline/"/>
    <add key="baseFleetOnlineURL_Salih" value="http://localhost:8080/fleetonline/"/>
    
     <!-- <add key="baseFleetOnlineURL" value ="http://192.168.1.11/foluk5/"/>-->
  </appSettings>
</configuration>